.test-class {
    color: #faaf74;
}

.rgba {
    color: #f67a1780;
    background: rgb(246,122,23);
    color: rgba(246,122,23,0.5);
}

.c222 {
    color: #222;
    border: 1px #ADF solid;;
}

.c222223 {
    color: #222223;
    border-color: #22222350;
}
