.rgba{ color: #f67a1750}
.el-tag{ background-color: #fef2e8; color: #f67a17; border: .01rem solid #fde4d1}
.el-tag.is-hit{ border-color: #f67a17}
.el-tag .el-tag__close{ color: #f67a17}
.el-tag .el-tag__close:hover{ background-color: #f67a17}
.el-tag--dark{ background-color: #f67a17}
.el-tag--dark,.el-tag--dark.is-hit{ border-color: #f67a17}
.el-tag--dark .el-tag__close:hover{ background-color: #f89545}
.el-tag--plain{ border-color: #fbcaa2; color: #f67a17}
.el-tag--plain.is-hit{ border-color: #f67a17}
.el-tag--plain .el-tag__close{ color: #f67a17}
.el-tag--plain .el-tag__close:hover{ background-color: #f67a17}
.el-textarea__inner:focus{ border-color: #f67a17}
.el-input__inner:focus{ border-color: #f67a17}
.el-input.is-active .el-input__inner{ border-color: #f67a17}
.el-switch__label.is-active{ color: #f67a17}
.el-switch.is-checked .el-switch__core{ border-color: #f67a17; background-color: #f67a17}
.el-color-predefine__color-selector.selected{ box-shadow: 0 0 .03rem .02rem #f67a17}
.el-color-dropdown__btn:hover{ color: #f67a17; border-color: #f67a17}
.el-color-dropdown__link-btn{ color: #f67a17}
.el-color-dropdown__link-btn:hover{ color: tint(#f67a17, 20%)}
.series-primary[data-v-8c1482da]{ background: #f67a17}
.series-3[data-v-8c1482da]{ background: #f9a25d}
.series-5[data-v-8c1482da]{ background: #fbbd8b}
.primay-color{ color: #f67a17}